NODE_ENV=development
PORT=3000
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
DB_HOST=localhost
DB_PORT=5432
DB_NAME=devops_platform
DB_USER=devops_user
DB_PASSWORD=devops_pass
LOG_LEVEL=info
API_VERSION=v1
