# Terraform files to ignore
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info
**/tfplan
**/tfplan.binary
**/.terraformrc
**/terraform.rc
